REACT_APP_GEMINI_API_KEY='xxx'
REACT_APP_GEMINI_URI='ws://127.0.0.1:4001'
# REACT_APP_GEMINI_URI='wss://generativelanguage.googleapis.com/ws/google.ai.generativelanguage.v1alpha.GenerativeService.BidiGenerateContent'%
